<!--@subject Plan Your Menu. @-->
<!--@vars {
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}
<table border="0" cellspacing="0" cellpadding="0" width="715"
       style="font-size:12.8px;width:536pt;border-collapse:collapse">
    <tbody>
    <tr>
        <td style="margin-left:60px;padding:20px;color:#000;font-size:13px;text-align:left">
            <p>Hi {{var customer.name}},</p>
            <p>
                {{trans 'Please'}} <a href="#">Plan</a>{{trans 'Your menu.'}}
            </p>
            <p>{{trans 'Have a great day,'}}<br>
            </p>
        </td>
    </tr>
    </tbody>
</table>
{{template config_path="design/email/footer_template"}}