<?php
$helper = $this->helper('Tempocommerce\Checkout\Helper\Data');
?>
<div class="cart-empty">
    <?php echo $block->getChildHtml('checkout_cart_empty_widget'); ?>
    <p><?php /* @escapeNotVerified */ echo __('You have no items in your shopping cart.') ?></p>
    <p><?php echo __('Click <a href="http://www.petitgourmetuae.com/subscription.html">here</a> to continue shopping.</p>'); ?>
    <?php echo $block->getChildHtml('shopping.cart.table.after'); ?>
</div>
