// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

//
//  base
// 
@font-size__base: unit(@font-size-unit-ratio * @font-size-ratio__base, px); // Base font size value in <b>px</b>
@font-size__xl: ceil(1.5 * @font-size__base); // 21px
@font-size__l: ceil(1.25 * @font-size__base); // 18px
@font-size__s: ceil(.85 * @font-size__base); // 12px
@font-size__xs: floor(.75 * @font-size__base); // 11px
//
//  Headings
//  ---------------------------------------------
@h1__font-size: ceil((@font-size__base * 1.60)); // 26px
@h1__font-color: @heading__color__base;
@h1__font-family: @heading__font-family__base;
@h1__font-weight: @heading__font-weight__base;
@h1__font-style: @heading__font-style__base;
@h1__line-height: @heading__line-height__base;
@h1__margin-top: 0;
@h1__margin-bottom: @heading__margin-bottom__base;
@h1__font-size-desktop: ceil((@font-size__base * 1.85)); // 40px

@h2__font-size: ceil((@font-size__base * 1.5)); // 26px
@h2__font-color: @heading__color__base;
@h2__font-family: @heading__font-family__base;
@h2__font-weight: @heading__font-weight__base;
@h2__font-style: @heading__font-style__base;
@h2__line-height: @heading__line-height__base;
@h2__margin-top: @indent__m;
@h2__margin-bottom: @heading__margin-bottom__base;

@h3__font-size: ceil((@font-size__base * 1.125)); // 18px
@h3__font-color: @heading__color__base;
@h3__font-family: @heading__font-family__base;
@h3__font-weight: @heading__font-weight__base;
@h3__font-style: @heading__font-style__base;
@h3__line-height: @heading__line-height__base;
@h3__margin-top: @indent__base * .75;
@h3__margin-bottom: @indent__s;






& when (@media-common = true) {
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/opensans/light/opensans-300',
        @font-weight: 300,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/opensans/regular/opensans-400',
        @font-weight: 400,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/opensans/semibold/opensans-600',
        @font-weight: 600,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/opensans/bold/opensans-700',
        @font-weight: 700,
        @font-style: normal
    );
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    h1 {
        .lib-css(font-size, @h1__font-size-desktop);
        .lib-css(margin-bottom, 20px);
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .items {
        .lib-list-reset-styles();
    }
}

//
//links
//
.lib-link(
    @_link-color: #6F6F6E,
    @_link-text-decoration: @link__text-decoration,
    @_link-color-visited: #6F6F6E,
    @_link-text-decoration-visited: @link__visited__text-decoration,
    @_link-color-hover: @color-green,
    @_link-text-decoration-hover: @link__hover__text-decoration,
    @_link-color-active: @color-green,
    @_link-text-decoration-active: @link__active__text-decoration
) {
    .lib-css(color, @_link-color);
    .lib-css(text-decoration, @_link-text-decoration);

    &:visited {
        .lib-css(color, @_link-color-visited);
        .lib-css(text-decoration, @_link-text-decoration-visited);
    }

    &:hover {
        .lib-css(color, @_link-color-hover);
        .lib-css(text-decoration, @_link-text-decoration-hover);
    }

    &:active {
        .lib-css(color,@_link-color-active);
        .lib-css(text-decoration, @_link-text-decoration-active);
    }
}
