<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$loginTitle = __('Log In');
$helper = $this->helper('Tempocommerce\Children\Helper\View');
$required = '';
if ($block->hasRequiredOptions()) {
    $required = ' data-hasrequired="' . __('* Required Fields') . '"';
}
?>
<?php if ($helper->isLoggedIn()): ?>
    <div class="product-options-wrapper" id="product-options-wrapper"<?php /* @escapeNotVerified */
    echo $required; ?>>
        <fieldset class="fieldset fieldset-product-options-inner">
            <legend class="legend">
                <span><?php echo __('Select kid or create a new kids profile'); ?></span>
            </legend>
            <div class="top-padding half">
                <a href="#" id="click-me" class="btn green"><?php echo __('Create kid profile'); ?></a>

            </div>
            <?php echo __('<p class="top-padding quarter">OR </p>'); ?>
            <select name="tempocommerce[child_id]" id="child_id" class="half required-entry">
                <?php $options = $helper->getChildOptions(); ?>
                <option value=""><?php echo __('Select a kid.') ?></option>
                <?php if(!empty($options)):?>
                <?php foreach ($options as $id => $name): ?>
                    <option value="<?php echo $id; ?>"><?php echo __($name) ?></option>
                <?php endforeach; ?>

                <?php endif; ?>
            </select>
        </fieldset>
        <div class="fieldset" tabindex="0">
            <?php echo $block->getChildHtml('', true); ?>
        </div>
        <div class="fieldset">
            <div class="field pr">

                <label class="label">
                    <span><?php echo __('Start Date'); ?></span>
                </label>
                <input type="text" class="input-text required-entry" id="calendar_inputField" name="tempocommerce[calendar_inputField]" aria-required="true" >
            </div>
        </div>
        <div id="days_selection">

            <fieldset class="fieldset fieldset-product-options-inner clearfix">
                <legend class="legend">
                    <span><?php echo __('Select days'); ?></span>
                </legend>
                </label>
                <div id="ck-button">
                    <label>
                      <input type="checkbox" name="tempocommerce[sun]" value="sun" id="sun" class="input-text required-entry" disabled><span><?php echo __('Sun'); ?></span>
                    </label>
                </div>
                <div id="ck-button">
                    <label>
                      <input type="checkbox" name="tempocommerce[mon]" value="mon" id="mon" class="input-text required-entry" disabled><span><?php echo __('Mon'); ?></span>
                    </label>
                </div>
                <div id="ck-button">
                    <label>
                      <input type="checkbox" name="tempocommerce[tue]" value="tue" id="tue" class="input-text required-entry" disabled><span><?php echo __('Tues'); ?></span>
                    </label>
                </div>
                <div id="ck-button">
                    <label>
                      <input type="checkbox" name="tempocommerce[wed]" value="wed" id="wed" class="input-text required-entry" disabled><span><?php echo __('Wed'); ?></span>
                    </label>
                </div>
                <div id="ck-button">
                    <label>
                      <input type="checkbox" name="tempocommerce[thu]" value="thu" id="thu" class="input-text required-entry" disabled><span><?php echo __('Thus'); ?></span>
                    </label>
                </div>
                <div for="days" style="display: none" id="day-validation-error"></div>
                <div class="clear"></div>
            </fieldset>
        </div>
    </div>
<?php else: ?>
    <h2><?php echo __('customize your order'); ?></h2>
    <p><?php echo __('Please login/register and you will be able to:'); ?></p>
    <ul>
        <li><?php echo __('Subscribe for the meal plan of your choice,'); ?></li>
        <li><?php echo __('Select the day you want to be delivered (2, 3, 4 or 5 days a week),'); ?></li>
        <li><?php echo __('Plan the meals for the upcoming week,'); ?></li>
        <li><?php echo __('Follow your past & current orders,'); ?></li>
        <li><?php echo __('Be aware of special offers.'); ?></li>
    </ul>
    <div class="content-bottom">
        <hr>
        <a href="#social-login-popup" class="social-login" data-effect="mfp-zoom-in"><?php echo __('Log In');?></a>
    </div>
<?php endif; ?>

<script>
    var attributesData = <?php echo json_encode($helper->getAttributeOptionsAdminValues());?>;
    var attributeOptionId = '#attribute' + attributesData['attribute_id'];
    var allowed_selection = 0;

    require(
        [
            'jquery',
            "mage/calendar"
        ],
        function ($) {
            $(attributeOptionId).on('change', function () {
                $('#days_selection input').removeAttr('checked');
                var clickedItem = parseInt($(this).val());
                if(clickedItem) {
                    $('#days_selection input').removeAttr("disabled");
                    $.each(attributesData['options'], function (key, days) {
                        if (clickedItem === parseInt(key)) {
                            allowed_selection = days;
                        }
                    });
                }else {
                    $('#days_selection input').attr('disabled', 'disabled');
                }
                $( "#day-validation-error" ).html( 'Select '+allowed_selection+' day(s)' );
                $('#day-validation-error').css('display', 'block');
                $('#day-validation-error').css('color', '#e02b27');
                $('#day-validation-error').css('font-size', '1.2rem');
            });

            $('#days_selection').on('click', function () {
                if($('#days_selection input').filter(':checked').length == allowed_selection) {
                    $('#days_selection input:not(:checked)').attr('disabled', 'disabled');
                    $('#day-validation-error').css('display', 'none');
                }
                else {
                    $('#days_selection input').removeAttr('disabled');
                    $('#day-validation-error').css('display', 'block');
                }
            });

            var date = new Date();
            var dayNo = date.getDay();
            if(dayNo==5 || dayNo==6 || dayNo==7){
                var diss = 12;
            } else if(dayNo == 2) {
		var diss = 6;
            } else if(dayNo == 1) {
		var diss = 4;
            } else {
                var diss = 8;
            }
            var mindate = (diss-dayNo);
            $("#calendar_inputField").calendar({
                buttonText:"<?php echo __('Start Date') ?>",
                minDate: mindate,
                showWeek: false,
                firstDay: 0,
                beforeShowDay: enableSUNDAYS
            });

            function enableSUNDAYS(date) {
                var day = date.getDay();
                return [(day == 0), ''];
            }
        }
    );

</script>
