<?php
$helperMP = $this->helper('Tempocommerce\Menuplanner\Helper\Data');
$helper = $this->helper('Tempocommerce\Children\Helper\View');
?>
<div style="margin-bottom: 20px;"><a class="action submit primary" href="add/">Add New Kid</a></div>
<?php $options = $helper->getChildOptions();
if (!empty($options)):?>
<div class="block block-dashboard-info">
	<div class="block-content">
        <?php foreach ($options as $id => $name): ?>
            <div class="box box-child" style="background: #fff;">
				<strong class="box-title">
					<span><?php echo __($name) ?></span>
				</strong>
                <p><?php echo $helperMP->getMenuStatus($id, $name); ?></p>
				<div class="box-actions" style="margin:0;">
					<a class="action edit" href="<?php echo 'edit/id/' . $id; ?>"><span>Edit</span></a>
				</div>
			</div>
        <?php endforeach; ?>
	</div>
</div>
<?php else: ?>
    <div class=""><?php echo __('You have no children added to your account.'); ?></div>
<?php endif; ?>
