<?php
$contactUrl = $block->getContactUrl();
$data = $block->getChildValues();
?>
<div id="popup-mpdal">
    <form class="form" action="<?php echo $block->getAjaxUrl();?>" method="post" id="child_adding_form" autocomplete="off">
        <?php if (isset($data['children_id'])):?>
            <input name="children_id" value="<?php echo $data['children_id']?>" hidden/>
        <?php endif;?>
        <fieldset class="fieldset">
            <div class="field required half left">
                <label for="first_name" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('First Name') ?></span>
                </label>
                <div class="control"><input type="text" id="first_name" name="first_name" class="input-text"
                                            value="<?php echo $data['first_name']?>" data-validate="{required:true}">
                </div>
            </div>
            <div class="field required half right">
                <label for="last_name" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Last Name') ?></span>
                </label>
                <div class="control"><input type="text" id="last_name" name="last_name" class="input-text"
                                            value="<?php echo $data['last_name']?>" data-validate="{required:true}">
                </div>
            </div>
            <div class="field required half left birthday">
                <label for="birth_date" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Birth Day') ?></span>
                </label>
                <div class="control"><input type="text" id="birth_date" name="birth_date" class="input-text"
                                            value="<?php echo $data['birth_date']?>" data-validate="{required:true}">
                </div>
            </div>
            <div class="field required allergie">
                <label for="allergie" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Allergie <span class="info"> (Please Lets us know if your child have any food allergy)</span>') ?></span>
                </label>
                <div class="control">
                    <textarea rows="4" cols="50" id="allergies" name="allergies" class="input-text"><?php echo $data['allergies']?></textarea>
                </div>
            </div>
            <div class="field required half left">
                <label for="nursery" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Nursery') ?></span>
                </label>
                <div class="control">
                    <select id="nursery" name="nursery" data-validate="{required:true}">
                        <?php foreach ($block->getNurseryOptions() as $id => $name): ?>
                            <?php if($data['nursery'] != $id):?>
                                <option value="<?php echo $id; ?>"><?php echo __($name) ?></option>
                            <?php else:?>
                                <option selected value="<?php echo $id; ?>"><?php echo __($name) ?></option>
                            <?php endif;?>
                            <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="field required half right">
                <label for="class_num" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Class Number') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="class_num" name="class_num" class="input-text" value="<?php echo $data['class_num']?>" data-validate="{required:true}">
                </div>
            </div>
        </fieldset>
        <div class="note" style="margin-bottom: 20px;"><span><?php echo __('If your child\'s nursery is not listed above, please <a href="mailto:celine@petitgourmetuae.com">contact us by mail celine@petitgourmetuae.com</a> or whatsapp +971 52 8254 528.'); ?></span></div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary" title="<?php  echo __('Submit') ?>"><span><?php echo __('Submit') ?></span></button>
            </div>
            <div class="secondary"><a class="action back" href="<?php echo $block->getBackUrl() ?>">Back</a></div>
        </div>
    </form>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/mage',
            'mage/calendar'
        ],
        function ($, modal) {
            $("#birth_date").calendar({
                yearRange: "-20:+0",
                maxDate: new Date()
            });
        }
    );

</script>
