<?php
$helper = $this->helper('Tempocommerce\Children\Helper\View');
?>

<?php $options = $helper->getChildOptions();
if (!empty($options)):?>
    <div class="child name">
        <fieldset class="fieldset fieldset-product-options-inner">
            <div class="select-child-name">
                <legend class="legend">
                    <span><?php echo __('Child name'); ?></span>
                </legend>
                <select name="tempocommerce[child_id]" id="child_id">
                    <option value=""><?php echo __('Select a kid'); ?></option>
                    <?php foreach ($options as $id => $name): ?>
                        <option value="<?php echo $id; ?>"><?php echo __($name) ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div id="menu-form"></div>
        </fieldset>
    </div>
<?php else: ?>
    <div class=""><?php echo __('You have no child registered yet. Register your child(s) while subcribing to a plan and then you will be able to plan the menu for your child(s).'); ?></div>
<?php endif; ?>

<script type="text/javascript">
    //<![CDATA[
    require([
            'jquery'
        ], function ($) {
            $('#child_id').on('change', function (event) {
                var child_id = parseInt($(this).val());
                var data = {
                    child_id: child_id
                };
                $.ajax({
                    showLoader: true,
                    url: "<?php echo $block->getPostUrl();?>",
                    data: data,
                    type: "POST",
                    dataType: 'json'
                }).done(function (data) {
                    $("#menu-form").html(data);
                }).fail(function () {
                    console.log('error');
                });
            })
        }
    );
    //]]>
</script>
