// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_bootstrap-grid.less';

//
//  Theme variables
//  _____________________________________________

//  Messages
@copyright__background-color: #ffffff;

@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: false;
@header-panel__background-color: @color-gray-middle3;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray60;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: @color-green;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray52;

//color
@base-color : #6F6F6E;
@color-rose: #DA5E65;
@color-green: #348C7A;
@color-yellow: #F5BA3D;
@color-lighgray: #F7F8F3;
@color-gray: #D1D1D1;

@color-dark-rose:#BB5157;
@color-dark-green: #2A7061;
@color-dark-yellow: #DEA939;

//change color
@header__background-color: #FFF;
@header-panel__background-color: #FFF;
@header-panel__text-color:#000;
@footer-links-color : rgba(255, 255, 255, 0.5);
@footer-links-color-hover : rgba(255, 255, 255, 0.8);


@_link-color-visited : @color-rose;
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    * {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    *:before,
    *:after {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    @font-face {
        font-family: 'WebFont';
        src: url('../fonts/webfont-kit/light/bavro-regular-webfont.eot');
        src: url('../fonts/webfont-kit/bavro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/webfont-kit/bavro-regular-webfont.woff2') format('woff2'), url('../fonts/webfont-kit/bavro-regular-webfont.woff') format('woff'), url('../fonts/webfont-kit/bavro-regular-webfont.ttf') format('truetype'), url('../fonts/webfont-kit/bavro-regular-webfont.svg#WebFont') format('svg');
        font-weight: 300;
        font-style: normal
    }
    body, html {
        height: 100%;
    }
    body {
        .lib-css(background-color, @page__background-color);
    }

    body.mpblog-post-index h1.page-title::after,
    body.mpblog-category-view h1.page-title::after,
    body.mpblog-post-view h1.page-title::after{
        border-color: @color-rose;
    }

    //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
    .page-wrapper {
        .ie9 & {
            .lib-css(background-color, @page__background-color);
            min-height: 0;
        }
    }
    //form
    input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"],input[type="date"]{
        color: @base-color;
        font-family: 'Lato', sans-serif;
    }
    input[type="date"]{
        padding:5px;

    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        z-index: 120;
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;

        .panel.wrapper {
            .lib-css(background-color, @header-panel__background-color);
            .lib-css(color, @header-panel__text-color);
        }
    }

    
    .header {
        ul li{
            display: inline;
        }
    }
    .panel.header{
        span{
            display: none;
        }
    }
    
    .logo{
        display: block;
        text-align: center;
        margin:0px;
        img{
            width: 100px;
        }
    }
    .page-header{
        border-top:5px solid @color-rose;
        position: relative;
        margin-bottom: 30px;
        .minicart-wrapper{
            position: absolute;
            margin:0px;
            top: 0px;
            right: 0px;
            background: @color-green;
            height: 100%;
            width: 60px;
            a{
                height: 100%;
                width: 100%;
                text-align: center;
                padding-top: 15px;
            }
            .block-minicart{
                right: 0px;
            }
        }
    }
    // Active links 
    body.customer-account-create a.register,
    body.customer-account-login li.authorization-link a,
    body.contact-index-index a.contact-link,
    body.account a.my-account,
    body.mpblog-post-view a.blog-link,
    body.mpblog-post-index a.blog-link,
    body.mpblog-category-view a.blog-link{
        color: @color-rose;
    }
    

    body.cms-home, body.contact-index-index, body.cms-about-petit-gourmet{
        .page-header{
            margin-bottom: 0px;
        }
    }
    .nav-sections li:nth-last-child(2){
        border-right:0;
    }
    .nav-sections .header.links li:nth-last-child(2) a{
        border-bottom: 0 !important;
    }
    .nav-sections li.last{
        display: none;
        border: 0px !important;
        a{
            border: 0px !important;
        }
    }

    //typography
    //___________________________________________
    body{
        font-family: 'Lato', sans-serif;
        color: @base-color;
    }
    h2, h3, h4{
        font-family: 'WebFont' , sans-serif;
    }
    h1{
        font-weight: 400;
        text-transform: uppercase;
    }
    h1.page-title{
        font-family: 'WebFont' , sans-serif;
        text-align: center;
        margin-bottom:40px;
    }
    h2::after , h1.page-title::after{
        content: "";
        border-bottom:3px solid @color-yellow;
        height: 20px;
        width: 100px;
        display: block;
    }
    h1.page-title::after{
        margin:auto;
    }
    h2.center{
        text-align: center;
    }
    h2.center::after{
        margin:auto;
        text-align: center;
    } 
    h2.rose-line::after{
        border-bottom:3px solid @color-rose;
    }
    h2.green-line::after{
        border-bottom:3px solid @color-green;
    }
    h3{
        margin-bottom: 1.5rem;
    }
    .label{
        font-weight: 600;
        font-size: 12px;
    }
    .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
    .clearfix { display: inline-block; }
    * html .clearfix { height: 1%; }
    .clearfix { display: block; }
    .clear{
        clear: both;
    }
    .details-qty, .qty, .col.price{
        display: none;
    }

    // social media login
    // ------------------------------------------
    //
    .social-login-title h2{
        color: @base-color;
    }
    .social-login-title .create-account-title{
        background:none;
    }
    #social-login-popup .mfp-close{
        color: @base-color;
    }

    //
    //Sections 
    //___________________________________________
    .section-wrapper{   
        margin-bottom:30px;
        padding-left:20px;
        padding-right:20px;
        .section{
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 1280px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            .section-title{
                h2{
                    margin-top:0px;
                }
            }
        }
    }
    .section-title{
            text-align: center;
        }
    
    // section slider
    .slider-wrapper{
        padding: 0;
        height: 90%;
        margin-top: -66px;
        z-index: 100;
        .row {
            margin-right: 0;
            margin-left: 0;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .section-slider{
            height: 100%;
            .slide-content{
                text-align: center;
                margin-top:80px;
                padding:20px;
                p{
                    font-size: 16px;
                    margin-bottom:2rem;
                }
            }
        }
    }

    .bg {
        height: 100%;
        width: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    // section how it works
    .how-it-works{
        text-align: center; 
        .row{
            p{
                margin-top:20px;
                margin-bottom: 20px;
            }
            img{
                height: 120px;
                width: auto;
            }

        } 
    }
    //section weekly-meal
    .weekly-meal{
        background: @color-lighgray;
        text-align: center;
        p{
            margin-bottom: 2rem;
        }
    }
    //slide color
    .owl-dot{
            span{
                    background: #9C9C9C !important;
            }
            &:hover {
                span {
                    background: @color-rose !important;
                }
            }
        }
        .owl-theme .owl-dots .owl-dot.active span {
            background: @color-rose !important;
        }

    //section quality
    .quality{
        .section-title{
            padding:15px 0px;
        }
        .col-md-6{
            .section-content{
                background:@color-lighgray;
                padding: 20px;
                margin-bottom: 30px;
                h3{
                    text-align: center;
                }
                img{
                    width: 40px;
                    display: block;
                    margin:0 auto;
                }
            }
        }
           
    }
    //section Prices
    .section-wrapper.prices-block{
        background: @color-lighgray;
        padding-top: 60px;
        margin: 0px;
        padding-bottom: 30px;
        .section-content{
            background: #FFF;
            padding: 0px 10px 20px 10px;
            text-align: center;
            span{
                font-style: italic;
                color:#818181;
                font-size: 12px;
                display: block;
                padding-bottom: 10px;
            }
            img{
                padding-top:10px;
                width: 100%;
            }
        }
    }
    //section hero image
    .hero-section{
        img{
            width: 100%;
            height: auto;
        }
        .section-content{
            text-align: center;
            p{
                font-size: 20px;
            }
        }
    }

    //section content
    .section-content{ 
        ul{
            padding-left:10px;
            li{
                list-style:none;
                position: relative;
                padding-left: 5px;
                &:before{
                    content: "■";
                    position: absolute;
                    left:-10px;
                }
            } 
        }  
        &.green{
            span{
                color:@color-green;
            }
            ul{
                li{
                    &:before{
                        color:@color-green;
                    }
                } 
            }    
        }
        &.rose{
            span{
                color:@color-rose;
            }
            ul{
                li{
                    &:before{
                        color:@color-rose;
                    }
                } 
            }    
        }
        &.yellow{
            span{
                color:@color-yellow;
            }
            ul{
                li{
                    &:before{
                        color:@color-yellow;
                    }
                } 
            }    
        }

    }
    //section message           
    .contact-message{
        text-align: center;
        .contact-form-content{   
            background: rgba(255, 255, 255, 0.5); 
            margin-top:30px;
        }
        h2{
            margin-top:0px;
        }
        .form.contact{
            .label{
                text-align: center;
            }
            &:not(.choice) {
                > .label {
                    text-align: center;
                }
            }
        }
        .fieldset{
                margin-bottom:15px !important;
            } 
    }
   
    //btn
    //____________________________________

    .product-info-main div label input {
       margin-right:100px;
    }
    #ck-button {
        margin:4px;
        background-color:#EFEFEF;
        border-radius:2px;
        border:1px solid #D0D0D0;
        overflow:auto;
        float:left;
    }

    #ck-button:hover {
        background: @color-green;
    }
    #ck-button:hover span{
        color: #FFF;
    }
    #ck-button label {
        float:left;
        width:4.0em;
    }

    #ck-button label span {
        text-align:center;
        padding:3px 0px;
        display:block;
    }
    #ck-button label span:hover{
        color: #FFF;
    }
    #ck-button label input {
        position:absolute;
        top:-1000px;
    }

    #ck-button input:checked + span {
        background-color: #2a7061;
        color:#fff;
    }




    a.social-login {
        background: @color-yellow;
        display: inline-block;
        margin-bottom: 17px;
        float: right;
        &:hover,
        &:focus,
        &:active{
            background:@color-dark-yellow;
        }
    }
    .action.primary, button , a.btn,a.social-login{
        color:#FFF;
        border:none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 30px;
        border-radius: 3px;
        &:hover, &:focus , &:active{
            border: none;
            color:#FFF;
        }
    }
    .btn{
        &:hover{
            text-decoration: none;
        }
    }
    .footer{

        .action.primary, button{
            padding: 8px 8px;
        }
    }
    .action , .btn {
        &.primary{
            background: @color-yellow;
            &:hover,
            &:focus,
            &:active{
                background:@color-dark-yellow;
            }
        }
        &.rose{
            background: @color-rose;
            &:hover, &:focus , &:active{
                background:@color-dark-rose;
            }
        }
        &.green{
            background: @color-green;
            &:hover, &:focus , &:active{
                background:@color-dark-green;
            }
        }
    }
    .bundle-actions .action.primary,
    .bundle-options-container
    .block-bundle-summary .box-tocart .action.primary,
    .product-info-main .box-tocart .action.tocart,
    .product-options-bottom .box-tocart .action.tocart,
    .cart-container .checkout-methods-items .action.primary,
    .block-minicart .block-content > .actions > .primary .action.primary,
    .methods-shipping .actions-toolbar .action.primary,
    .block-authentication .action.action-register, .block-authentication
    .action.action-login,
    .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary,
    .form-address-edit .actions-toolbar .action.primary, .multicheckout .action.primary{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
    }
    .column.main .action.subscribe.primary{
        padding: 8px 30px;
    }
    select{
        font-family: 'Lato', sans-serif;
        color: @base-color;
        border: 0;
        outline: 1px solid #c2c2c2;
        outline-offset:-1px
    }
     .product-options-bottom .box-tocart .action.tocart{
        padding:10px 17px;
     }
     //payment checkout
    .checkout-index-index{
       .checkout-payment-method .actions-toolbar .primary{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        } 
        .opc-block-summary > .title{
            font-family: 'WebFont' , sans-serif;
        }
        .opc-wrapper .fieldset > .field > .label{
            font-weight: 700;
        }
        .opc-wrapper .fieldset > .field.required > label:after,
        .opc-wrapper .fieldset > .field._required > label:after{
            position: initial;
        }
        .action-update, .action-update:hover{
            color: @base-color;
        }
        .checkout-payment-method .payment-option-title .action-toggle,
        .action-apply{
            color: @base-color;
        }
        .opc-block-summary .table-totals .mark strong{
            font-weight: 700;
        }
        .shipping-information-title, .opc-block-summary > .title{
            color: @base-color;
        }
        .action.showcart{
            background: @color-green;
        }
        .checkout-payment-method .step-title{
            padding-left: 20px;
            font-family: 'WebFont' , sans-serif;
        }
        .payment-method-title.field.choice{
            padding-left: 23px;
        }
        ul.opc-progress-bar{
            padding-left: 20px;
        }
        .action.action-edit-address{
            color: @base-color;
        }
    }
    //
    // Product page
    // ----------------------------------------------
    body.catalog-product-view{
        .page-wrapper{
            background-color: @color-rose;
        }
        h1.page-title{
            font-size: 20px;
            margin-bottom: 20px;
            text-align: left;
            &::after{
                margin: 0;
                height: 15px;
            }
        }
        .product.media{
            background:#FFF;
            padding:10px 20px 0 20px;
        }
        .product-info-main{
            padding:15px 20px 0px 20px;
            background-color: #FFF;
            position: relative;
            h2.center {
                margin-top: 0;
            }
            .product-info-price{
                position: absolute;
                bottom: 24px;
                left: 20px;
            }
            .product-options-bottom{
                width: 100%;
            }
        }
        .product-info-main .box-tocart .input-text.qty,
        .product-options-bottom .box-tocart .input-text.qty{
            display: none;
        }
        .product-info-main .box-tocart, .product-options-bottom .box-tocart{
            display: block;
        }
        .action.primary, .product-info-main .box-tocart .action.tocart{
            width: auto;
        }
        .request-product{
            display: none;
        }
        .product.data.items > .item.content{
        margin-top: 0;
        padding: 0;
        border: none;
        }
        .product.data.items > .item.title{
            display: none;
        }
        .product-add-form .fieldset > .field:not(.choice) > .label,
        .product-add-form .fieldset .fields > .field:not(.choice) > .label,
        #days_selection h3{
            font-weight: 700;
            font-size: 12px;
        }
        .product-options-wrapper{
            .fieldset-product-options-inner .legend{
                font-size: 12px;
            }
        }
        .product-options-bottom{
            .box-tocart{  
                position: relative;
                bottom: 0;
                right: 0;
                margin:0;
                width: 100%;
                .actions{
                    padding-top: 15px;
                    border-top: 1px solid #CCC;
                }
            }
        }
        #days_selection{
            h3{
            margin-bottom: 5px;
            letter-spacing: 0;
            }
        } 
        .fieldset {
            margin: 0 0 15px;
        }
        .field.pr{
            position: relative;
            .ui-datepicker-trigger{
                position: absolute;
                right: 0px;
                width: 100%;
                top:25px;
                &::before{
                    float: right;
                    line-height: 32px;
                    color: @color-green;
                }
            }
        }
        .checkbox{
            float: left;
            margin-right: 10px
        }
        .product-add-form .fieldset > .field{
            margin: 0 0 15px;
        }
        
        .fieldset-product-options-inner{
            .top-padding{
                padding-top:0;
                .btn{
                    float: left;
                }
            }
            .half{
                width: 40%;
                float: left;
                padding-top: 0;
            }
            p.top-padding{
                float: left;
                width: 20%;
                text-align: center;
                padding-top:5px;
                margin: 0;
            }
            a.btn.green{
                padding: 8px 0;
                width: 100%;
                text-align: center;
            }
        
        }
        
        .field.qty{
            display: none;
        }
        .product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions{
            display: block;
            text-align: right;
        }
        .product-options-bottom .box-tocart .field.qty {
            display: none;
        }
    }
    // checkout
    .price-including-tax, .price-excluding-tax{
        font-size: 1.6rem;
    }

    //pop child
    h1.modal-title{
        border: none;
        font-family: 'WebFont', sans-serif;
        text-align: center;
        &::after{
        content: "";
        border-bottom:3px solid @color-yellow;
        height: 20px;
        width: 100px;
        display: block;
        margin: auto;
        }
    }
    .half.left.birthday{
        position: relative;
        .ui-datepicker-trigger{
            position: absolute;
            left: 0px;
            width: 100%;
            top: 25px;
            &::before{
                float: right;
                line-height: 32px;
                color: #348c7a;
            }
        }
    }
    .modal-inner-wrap{
        .fieldset > .field {
            margin-bottom: 15px;
        }
        .note {
            margin-left: -30px;
            margin-right: -30px;
            padding: 8px 30px;
            background: @color-lighgray;
            margin-bottom: 20px;
            span{
                background: url('@{baseDir}images/information.png') no-repeat left center;
                padding:5px 0 5px 30px;
                background-size: 20px;
            }
        }
        .allergie{
            .info{
                font-weight: 400;
            }
        }
    }
    
    .modal-popup .modal-title{
        border-bottom: 0;
    }
    .minicart-wrapper .action.showcart .counter.qty{
        background: @color-rose;
    }
    .page-header .minicart-wrapper{
            position: absolute;
            top: 0px;
            right: 0px;
            background: @color-green;
            height: 100%;
            width: 60px;
            a{
                height: 100%;
                width: 100%;
                text-align: center;
                padding-top: 10px;
                color: @base-color;
        }
    }
    body.checkout-cart-index .block.shipping{
        display: none;
    }
    //
    // dashbord
    // ----------------------------------------------
    .account .column.main .block:not(.widget) .box-title{
        background: @color-green;
        width: 100%;
        padding: 10px;
        color: #FFF;
    }
    .account .column.main .block:not(.widget) .block-title{
        font-family: 'WebFont', sans-serif;
        font-size: 2.1rem;
    }
    .account .column.main .block:not(.widget) .box{
        background: @account-nav-background;
        padding-bottom:10px;
    }
    .block-dashboard-info .block-content .box{
        position: relative;
        a.action.edit{
            position: absolute;
            top: 10px;
            right: 10px;
            color: #fff;
            &:hover{
                color: #FFF;
                text-decoration: underline;
            }
        }
        .action.change-password{
            padding-left:10px;
        }
    }
    .block-dashboard-orders .block-title.order .action.view{
        float: right;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        &:hover{
            text-decoration: underline;
        }
    }
    .block-dashboard-orders .table-wrapper.orders-recent{
        .col.shipping{
            display: none;
        }
    }
    .box-billing-address .box-content, .box-shipping-address .box-content,
    .box-information .box-content,
    .box-newsletter .box-content{
        padding:5px 10px;
    }
    .account-nav .content,
    .account-nav .item a:hover{
        background:#FFF;
    }
    .account-nav .item a:hover{
        color: @color-rose;
    }
    .account-nav .item{
        border-bottom: 1px solid @account-nav-background;
    }
     // shopping card page .. checkout
    body.checkout-cart-index{
        .cart{
            .product-item-name{
                font-family: 'WebFont' , sans-serif;
                font-size: 16px;
            }
            .item-options{
                dt{
                    text-transform: uppercase;
                }
            }
            .actions-toolbar > .action{
                padding: 0;
                background: #FFF;
                color: @base-color;
            }
            .actions-toolbar > .action:hover{
                color: @base-color;
                background: #FFF;
                span{
                    text-decoration: underline;
                }
            }
            .col.price,
            .col.qty,
            .col.subtotal{
                text-align: center;
            }
        }
         .main.actions{
            button{
                color: @base-color;
            }
        }
        .block-cart-failed .action.continue,
        .cart-container .form-cart .action.continue{
            color: @base-color;
            border: none;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 12px;
            padding: 10px 30px 10px 10px;
            border-radius: 3px;
        }
        .summary.title{
            font-size: 2.4rem;
            font-family: 'WebFont' , sans-serif;
        }
        .column.main .cart-summary .block > .title strong,
        .column.main .paypal-review-discount .block > .title strong{
            font-size: 1.4rem;
        }
        .cart-summary .block > .title,
        .paypal-review-discount .block > .title{
            padding-left: 0px;
        }
        .cart-totals .grand strong, .opc-block-summary .table-totals .grand strong{
            display: inline-block;
            font-weight: 600;
            padding: 3px 0 0;
        }
        .cart-totals .grand .mark,
        .opc-block-summary .table-totals .grand .mark,
        .cart-totals .grand .amount,
        .opc-block-summary .table-totals .grand .amount{
            font-size: 1.6rem;
        }
        .cart-container .checkout-methods-items .action.primary {
            width: 100%;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
        }
    }

    .cart.table-wrapper .actions-toolbar > .action.action-edit:before {
        -webkit-font-smoothing: antialiased;
        font-size: 28px;
        line-height: 28px;
        color: #303030;
        content: '\e606';
        font-family: 'icons-blank-theme';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }
    .cart.table-wrapper .actions-toolbar > .action.action-delete:before {
        -webkit-font-smoothing: antialiased;
        font-size: 28px;
        line-height: 28px;
        color: #303030;
        content: '\e604';
        font-family: 'icons-blank-theme';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }
    .cart-container .form-cart .action.update,
    .cart-container .form-cart .action.clear,
    body.checkout-cart-index .cart-container .form-cart .action.continue{
        min-width: 210px;
    }
    body.customer-account-index{
        .block-title.order{
            a.action.view{
            font-size: 12px;
            float: right;
            font-family: lato;
            background: @color-green;
            color: #FFF;
            padding: 10px;
            }
        }
        .block-content{
            .table-order-items.recent{
                border: 1px solid @color-lighgray;
            }
        }
        .orders-recent{
            .action.order{
                display: none;
            }
        }
    }
    .account-nav .item.current a, .account-nav .item.current strong{
        border-color: @color-rose;
    }
    .box-order-billing-address,
    .box-order-billing-method{
        .box-content{
        padding: 10px;
        }
    }
    //
    // Menu planner
    //
    body.menuplanner-index-index{
        .child.name{
            .select-child-name{
                background: url('@{baseDir}images/apple.png') no-repeat 10px center;
                background-size: 50px;
                padding-left: 70px;
                max-width: 300px;
                margin-bottom: 30px;
                .legend{
                    border: 0;
                    font-family: 'WebFont', sans-serif;
                    margin-bottom: 10px;
                    font-size: 1.6rem;
                }        
            }
            table{
                border: 0;
                text-align: center;
                table-layout: fixed;
                tr{
                    border: 0;
                    th{
                        background: #F7F7F7;
                        text-align: center;
                        padding: 15px 0;
                       &:first-child{
                        width: 70px;
                        text-indent: -1000px;
                        background: none;
                        border: 0;
                        }
                    }
                }
                td{
                    vertical-align: middle;
                    &:first-child{
                        background :@color-green;
                        color: #FFF;
                        padding: 8px 0;
                        span{
                            font-size: 10px;
                        }
                    }
                }
            }
            button{
                margin-top: 20px;
                float: right;
                background :@color-yellow;
            }
        }
    }
    //
    //login and register page
    //_______________________________
    body.customer-account-login,
    body.customer-account-create{
        h1.page-title{
            font-size: 26px;
            font-family: 'Lato', sans-serif;
            color: @color-yellow;
            &::after{
                border: 0;
            }
        }

        .block-new-customer .actions-toolbar{
            .primary{
                float: none;
                margin: 0 auto;
                display: block;
            }
        }
        .block-customer-login .actions-toolbar{
            .primary{
                float: none;
                margin: 0 auto;
                text-align: center;
            }
            .action.login.primary{
                margin: 0;
                display: block;
            }
            .secondary{
                width: 100%;
            }
        }
        .login-container .fieldset:after{
            display: none;
        }
    }
    
    .login-container .block .block-title,
    body.customer-account-create .fieldset legend{
        border-color: @base-color;
        border: 0;
        text-transform: uppercase;
        font-family: 'WebFont', sans-serif;
        font-weight: 300;
        line-height: 1.1;
        font-size: 2.1rem;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        text-align: center;
        width: 100%;
        ::after {
            content: "";
            border-bottom: 3px solid #f5ba3d;
            height: 20px;
            width: 100px;
            display: block;
            margin: auto;
        }
    }
    
    
    //
    //  Footer
    //  ---------------------------------------------
    //footer

    .footer.content{
        color:rgba(255, 255, 255, 0.5);
        h3{
            text-transform: uppercase;
            font-size: 1.4rem;
            color:rgba(255, 255, 255, 0.8);
        }
        p{
            font-weight: 300;
            font-size: 1.2rem;
        }

        //contact information
        .contact-information-links{
            li{
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding-top:10px;
                i{
                    display: inline-block;
                    margin-right: 5px;
                    line-height: 26px;
                    vertical-align: top;
                }
                p{
                    display: inline-block;
                    vertical-align: top;
                }
                b{
                    font-weight: 400;
                    text-transform: uppercase;
                    color:rgba(255, 255, 255, 0.8);
                }
            } 
        }
        // Subscription
        .block.newsletter{
            margin-bottom: 33px;
            .form.subscribe{

                .actions{
                    button{
                        width: 35px;
                        height: 32px;
                    }
                }
               
            }
        }
        //social link
        .social-link{
            ul{
                padding-right: 0px;
                li{
                    display: inline;
                    margin-left: 15px;
                }
            }
        }

        .footer-bottom{
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            padding-top: 15px;
        }
    }
    .page-footer {
        margin-top: @indent__m;
        background: @footer__background-color;
    }

    .footer {
        &.content {
            border-top: 1px solid @footer-links-separator-border-color;
            padding-top: @indent__base;

            ul:extend(.abs-reset-list all) {
            }

            .links {
                > li {
                    .lib-css(background, @footer__background-color);
                    border-top: noen;
                    margin: 0;
                    padding:0;
                }

                a,
                strong {
                    display: block;
                    padding: @indent__s 0;
                }

                strong {
                    .lib-css(color, @footer-links-color-current);
                    font-weight: normal;
                }
            }
            a {
                    .lib-link(
                    @_link-color: @footer-links-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @footer-links-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @footer-links-color-hover,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @footer-links-color-hover,
                    @_link-text-decoration-active: underline
                    );
                }
        }
    }
    body.contact-index-index{
            background: url('@{baseDir}images/contact-bg.png') fixed;
            background-position: top center;
            background-size: cover;
    }
}


// ________________________
//
//  Mobile
//_________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    body.contact-index-index{
        background-attachment: fixed;
    }
    .nav-sections li.last{
        display: block;
    }
    .nav-sections .header.links li:last-child{
        display: none;
    }

    .logo {
        margin-bottom: 13px;
        margin-top: 4px;
    }
    .footer-top-first, .footer-top-second{
        display: none;
    }
    //social link
        .social-link{
            ul{
                float: none;
                padding-right: 15px;
                li{
                    display: inline;
                    margin-left: 0px;
                }
            }
        }
    .footer-bottom{
        text-align: center;
    }
    .social-link{
        ul{
            float: none;  
        }
    }
    .hero-section{
            background: @color-lighgray;
        .section-content{
            padding: 25px 0px;
        }
    }
    .header.content{
        background:#FFF;
    }
    // mini cart
    .page-header{
        .minicart-wrapper{
            a{
                padding-top: 18px;
            }
            .action:before{
                color: #f5f5f5;
            }
            &:hover {
                .action:before {
                    color: @base-color;
                }
            }
        }
        .minicart-wrapper .action.showcart:before {
            color: #f5f5f5;
        }
        .minicart-wrapper:hover .action.showcart:before {
            color: #ffffff;
        }
    }
    //section contact message
    .contact-message{
        .contact-form-content{
            padding:20px
        }
    }
    //contact page
    body.contact-index-index .columns .column.main{
        padding-bottom:0px;
    }
    //section slider
    .slide-content{
        background: rgba(255, 255, 255, 0.5);
        padding:15px 0px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .contact-message{
        .contact-form-content{
            padding:20px
        }
    }
    body.contact-index-index .columns .column.main{
        padding-bottom:0px;
    }
    .quality{
        .col-md-6{
            height: 570px;
            .section-content{
                background:@color-lighgray;
                padding: 20px;
                margin-bottom: 30px;
                &.equal-small{
                    height: 40%;
                }
                &.equal-larg{
                    height: 60%;
                }
                h3{
                    text-align: center;
                }
                img{
                    width: 40px;
                    display: block;
                    margin:0 auto;
                }
            }
        }
    }
    //section slider
    .slide-content{
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
    }
}
//  _____________________________________________
//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    .nav-sections li.last{
        display: block;
    }
    .nav-sections .header.links li:last-child{
        display: none;
    }
    //section about
    .about-block{
        .col-sm-12{
            background: @color-lighgray;
            padding: 20px;
        }  
    }
    //footer
    .footer-top-first, .footer-top-second{
        display: none;
    }
    
    .navigation{
        background:none;
        a.level-top{
            text-decoration: none;
            text-align: center;
            border-bottom: 1px solid rgba(175, 175, 175, 0.3);
            font-weight: 400 !important;
            text-transform: capitalize !important;
            padding: 15px 0px !important;
            margin: 0px 20px;
            letter-spacing: 2px;
            color: #6f6f6e;
            font-size: 14px;
        }
        .active a{
            border-width: 0 0px 1px 0px !important; 
            border-color: rgba(175, 175, 175, 0.3) !important;
            color: @color-rose;
        }
        .ui-menu-item.all-category{
            display: none;
        }
        ul.submenu{
            border:none;
        }
        .submenu a{
            padding-left: 0px !important;
            text-align: center;
            font-weight: 400;
            text-transform: capitalize;
            color:#000;
            font-size: 14px;
            letter-spacing:2px;
        }
    }
    
    .navigation li:last-child a{
        border:none;
    }
    .navigation .level0.active {
        a:not(.ui-state-active), .navigation .level0.has-active a:not(.ui-state-active) {
            border-color: #ff5501;
            border-style: solid;
            border-width: 0 0 1 0px !important;
        }
    }
    //section slider
    .slide-content{
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
    }
    //product page
    body.catalog-product-view {
        .product.data.items{
        margin:0px;
        border: none;
        padding-bottom:15px;
        }
        .col-md-10.col-md-push-1.col-lg-8.col-lg-push-2{
        margin-bottom: 0;
        }
        .product.info.detailed{
        margin-bottom:0;
        }
    }
    .product-options-bottom .box-tocart .action.tocart {
    margin-bottom: 20px;
    }
}
//______________________________________________
//
//  tablet & desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    html,
    body {
        height: 100%; // Stretch screen area for sticky footer
    }
    body.cms-index-index .page-wrapper {
        height: 100%;
    }
    body {
        .ie9 & {
            .lib-css(background-color, @copyright__background-color);
        }
    }
    .nav-sections{
        margin-bottom:0px;
    }
    .navigation ul {
        padding: 0 8px;
    }
    .product-container{
        display: flex;
        justify-content: space-between;
    }
    .page-layout-1column .product.media {
        margin-bottom: 0;
        flex: 1;
        margin-right: 10px;

    }
    .page-layout-1column .product-info-main {
        width: 50%;
        flex: 1;
        .content-bottom{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 0 20px;
        }
    }
    .product-options-bottom{
            .box-tocart{  
                position: absolute;
            }
        }

    //child pop
    .modal-popup.modal-slide .modal-inner-wrap[class]{
        background: #FFF;
    }
    .modal-inner-wrap{
        max-width: 700px;
        .half{
            width: 50%;
            float: left;
            &.left{
                padding-right: 10px;
            }
            &.right{
                padding-left:10px;
            }
        }
        .half.left.birthday{
            .ui-datepicker-trigger{
                padding-right: 10px;
            }
        }

        .allergie{
            float: left;
            width: 100%;
        }
        .actions-toolbar .primary{
            float: right;
        }
    }
    

    //header
    //___________________________

    .page-header {

        .panel.wrapper {
            border-bottom: none;
            .lib-css(background-color, @header-panel__background-color);
        }
        .sections.nav-sections{
         width: 45%;
        float: left;
        }
        .panel.header{
            width: 45%;
            padding: 0px 50px 0px 0px;
            margin: 0px;
            float: left;
            box-shadow:none;
        }
    }

    .header {
        &.panel {
            > .header.links {
                .lib-list-inline();
                float: right;
                margin-left: auto;
                > li {
                    margin: 0px;
                    font-size: 10px;
                    &.welcome,
                    > a {
                        display: inline-block;
                        line-height: 1.4;
                        font-size: 11px;
                    }
                }

                > .authorization-link {
                    &:after {
                        content: attr(data-label);
                        display: none;
                        margin: 0 -@indent__xs 0 @indent__xs;
                    }
                }

                > .customer-welcome + .authorization-link {
                    display: none;
                }
            }
        }
        ul{
            li{
                padding:0px 6px;
                border-right: 1px solid @base-color;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 10px;
                a{
                    color: @base-color;
                    font-size: 11px;
                    &:hover , &:active , &:focus{
                        color: @color-rose;
                        text-decoration: none;

                    }
                }
                &:last-child{
                    border-right: none;
                }
                &:first-child{
                    padding-left:0px;
                }
            }
        }
        .navigation{
            background:#FFF;
            padding-top:16px;
            li{
                margin:0px;
                a.level-top{
                line-height: 15px;
                padding: 0px;
                color: @base-color;
                    &:hover , &:active , &:focus{
                        color: @color-rose;
                        text-decoration: none;

                    }
                }
                .submenu{
                    top:30px !important;
                    li{
                        padding: 0px;
                        border:none;
                        a{
                            &:hover , &:active , &:focus{
                                color: #FFF;
                                background: @color-rose;
                            }
                        }
                    }
                }
            }
            .active{
                a.level-top{
                    border:none;
                    color: @color-rose;
                }
            }    
        }
        .panel.header{
            padding-top:16px;
        }
    }
    .navigation .level0.active > .level-top, 
    .navigation .level0.has-active > .level-top {
        border:0;
    }
    .navigation .level0 .submenu .active > a {
        border: 0;
    }
    // logo
    //_________________

    .logo {
        margin: 0px;
        padding-top:5px;
        width: 10%;
        float: left;
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        margin: 0;
        min-height: 100%; // Stretch content area for sticky footer
        position: relative;
        transition: margin .3s ease-out 0s;

        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }
    //
    //login and register page
    //_______________________________
    
    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account {
        margin: auto;
    }
    .abs-margin-for-forms-desktop,
    .fieldset .legend,
    .column:not(.sidebar-main) form .actions-toolbar,
    .column:not(.sidebar-additional) form .actions-toolbar,
    .login-container .fieldset:after{
        margin-left:0px;
    }
    
    .login-container {
        .fieldset {
            margin: 0px;

            > .field {
                > .control {
                    width: 100%;
                }
            }
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                .field {
                    float: left;
                    margin: 0 @indent__s @indent__s 0;
                }
            }

            .field-name-prefix,
            .field-name-suffix {
                width: 50px;
            }
        }
    }
    body.customer-account-login,
    body.customer-account-create{

        .block-new-customer .actions-toolbar{
            .primary{
                width: 200px;
            }
        }
        .block-customer-login .actions-toolbar{
            .primary{
                display: flex;
                width: 200px;
            }
        }
    }

    //Sections
    //_______________________________
    //
    // Section ----- slide ------
    .slider-wrapper{
        .slide-content{
            margin-top:80px;
        }
    }

    // Section ------ how it works ------
    .weekly-meal{
        padding:45px 0px 30px 0;
    }
    .section-wrapper{
        padding-top: 60px;
    }
    //footer
     .social-link{
        ul{
            float: right;  
        }
    }
    //Section ------ about hero -------
    .hero-section{
        position: relative;
        .section-content{
            position: absolute;
            top: 40px;
            left: 30px;
            text-align: center;
        }
    }
    .no-margin{
        margin-bottom:0;
    }
    // section ------ about ------
    .about-block{
        .col-sm-12{
            background: @color-lighgray;
            padding: 10px 20px 30px 20px;
        }
        .custom-slider{
            padding-bottom: 0px;
        }
    }
    //section slide
    .slide-content{
        background: none;
        padding:0px;
    }
    //section weekly-meal
    .weekly-meal{
        .row{
            display: flex;
            .col-sm-6{
                margin: auto;
            }
        }
    }

    //Footer
    //_____________________________
    .page-footer {
        .lib-css(background, @footer__background-color);
        margin-top: auto;
        padding-bottom: 7px;
    }
    .footer {
        &.content {
            border-top: none;

            .block {
                float: none;
                width: 100%;
            }

            ul {
                padding-right: 50px;
            }

            .switcher.store {
                display: block;
                margin: 0;
            }

            .links {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;

                li {
                    background: transparent;
                    border: none;
                    font-size: 1.2rem;
                    margin: 0 0 8px;
                    padding: 0;
                }

                a,
                strong {
                    display: inline;
                }
            }
        }
        .footer-top-second{
        display: none;
        }
    }
    body.contact-index-index .columns .column.main{
        padding-bottom:30px;
    }
    //contact form
    .contact-page{
        .contact-message{
            margin-top:30px;
            .contact-form-content{
                padding:20px;
            }
            .form.contact{
                .legend{
                    margin:0px;
                }
                .control{
                    width: 100%;
                    float: none;
                }
                .label{
                    padding: 0px;
                    width: 100%;
                    float: none;
                }
                .actions-toolbar{
                    .primary{
                        width:100%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                &:not(.choice) {
                    > .label {
                        padding: 0px;
                        width: 100%;
                        float: none;
                    }
                }
            }
            .fieldset > .field {
            margin: 0 0 15px !important;
            }
            .actions-toolbar{
            margin: 0px !important;
            }
        }
    } 
} 
    //----------------------
    // mobie max 768
    //----------------------
    @media only screen and (max-width: 768px){
       //child pop
        .modal-popup.modal-slide .modal-inner-wrap[class]{
            background: #FFF !important;
        }
        .modal-popup h1.modal-title{
                font-size: 18px;
        } 
        .page-layout-1column .product-info-main {
            .content-bottom{ 
                height: 73px;
            }
        }
    }
//---------------------------------------
// Tablet only //
//---------------------------------------
@media screen and (max-width: 920px) and (min-width: 768px){
    .cart.table-wrapper .product-item-details{
        display: block !important;
    }
    .abs-shopping-cart-items-desktop, .block-cart-failed, .cart-container .form-cart, .cart-container .cart-gift-item {
    width: 67% !important;
    }
    .cart-summary {
        width: 29% !important;
    }
    .price-including-tax, .price-excluding-tax{
        font-size: 1.5rem;
    }
    .cart-container .form-cart .action.clear{
        margin-right:0 !important;
        margin-bottom: 10px;
    }
    .navigation ul{
        padding:0;
    }
}   

//__________________________________________________
//
// Desktop big
//__________________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .hero-section{
        position: relative;
        .section-content{
            position: absolute;
            top: 80px;
            left: 50px;
        }
    }
    .about-block{
        .col-sm-12{
            background: none;
            padding: 0px 15px;
        }  
    }
    .footer-top-second{
        display: block !important;
    }
    .header{
        ul{
            li{
                padding:0px 10px;
                a{
                    font-size: 12px;
                }
            }
        } 
    }
    .header {
        &.panel {
            > .header.links {
                > li {
                    padding:0px 10px;
                    &.welcome,
                    > a {
                        font-size: 12px;
                    }
                } 
            }
        }
    }
    .navigation{
            padding-top:20px !important;
        }
    .panel.header{
        padding-top:22px !important;
    }
    //sections
    //section contact message
    body.contact-index-index .columns .column.main{
        padding-bottom:30px;
    }
    .contact-page{
        .contact-message{
            .contact-form-content{
                padding:40px;
            }
        }
    }
}

