/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
@import 'source/lib/_lib.less'; // Global lib
@import 'source/_sources.less'; // Theme styles
@import 'source/_components.less'; // Components styles (modal/sliding panel)


.minicart-wrapper .action.showcart:before {
    color: #f5f5f5!important;
}
.minicart-wrapper .action.showcart:hover:before {
    color: #fff!important;
}