<div class="request-product-wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="request-product" title="<?php /* @escapeNotVerified */echo __('Request Product') ?>">
        <a href="#" id="request_product_link" class="request-product-button button" title="Request Product"><span><?php /* @escapeNotVerified */echo __('Request Product') ?></span></a>
        <input type="hidden" id="pr_product_id" name="pr_product_id" value="test"/>
    </div>
</div>