<?php
$contactUrl = $block->getContactUrl();
?>
<div id="popup-mpdal" style="display:none;">
    <form class="form" action="<?php echo $block->getAjaxUrl();?>" method="post" id="child_adding_form" autocomplete="off">
        <fieldset class="fieldset">
            <div class="field required half left">
                <label for="first_name" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('First Name') ?></span>
                </label>
                <div class="control"><input type="text" id="first_name" name="first_name" class="input-text"
                                            data-validate="{required:true}">
                </div>
            </div>
            <div class="field required half right">
                <label for="last_name" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Last Name') ?></span>
                </label>
                <div class="control"><input type="text" id="last_name" name="last_name" class="input-text"
                                            data-validate="{required:true}">
                </div>
            </div>
            <div class="field required half left birthday">
                <label for="birth_date" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Birth Day') ?></span>
                </label>
                <div class="control"><input type="text" id="birth_date" name="birth_date" class="input-text"
                                            data-validate="{required:true}">
                </div>
            </div>
            <div class="field required allergie">
                <label for="allergie" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Allergie <span class="info"> (Please let us know if your child has any food allergy)</span>') ?></span>
                </label>
                <div class="control">
                    <textarea rows="4" cols="50" id="allergies" name="allergies" class="input-text"></textarea>
                </div>
            </div>
            <div class="field required half left">
                <label for="nursery" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Nursery') ?></span>
                </label>
                <div class="control">
                    <select id="nursery" name="nursery" data-validate="{required:true}">
                        <?php foreach ($block->getNurseryOptions() as $id => $name): ?>
                            <option value="<?php echo $id; ?>"><?php echo __($name) ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="field required half right">
                <label for="class_num" class="label">
                    <span><?php /* @escapeNotVerified */
                        echo __('Class Number') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="class_num" name="class_num" class="input-text" data-validate="{required:true}">
                </div>
            </div>
        </fieldset>
        <input type="hidden" id="created_at" name="created_at">
        <input type="hidden" id="updated_at" name="updated_at">
        <div class="note"><span><?php echo __('If your child\'s nursery is not listed above, please <a href="mailto:celine@petitgourmetuae.com">contact us by mail celine@petitgourmetuae.com</a> or whatsapp +971 52 8254 528.'); ?></span></div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary" title="<?php  echo __('Submit') ?>"><span><?php echo __('Submit') ?></span></button>
            </div>
        </div>
    </form>
</div>

<script type="text/x-magento-init">
    {
        "#child_adding_form": {
            "validation": {}
        }
    }
</script>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/mage',
            'mage/calendar'
        ],
        function ($, modal) {
            var options = {
                autoOpen: false,
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Child profile details',
                buttons: []
            };

            var popup = modal(options, $('#popup-mpdal'));
            $("#click-me").on('click', function () {
                $("#popup-mpdal").modal("openModal");
            });

            $("#birth_date").calendar({
                yearRange: "-20:+0",
                maxDate: new Date()
            });
        }
    );

</script>
