<div id="request-product-wrapper">
    <div id="block-product-request" data-bind="scope:'productRequest'" class="block-form">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">{
            "*": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout(); ?>
            }
        }
        </script>
    </div>
</div>